body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f0f0f0;
}
#todo-box {
  width: 400px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
#todo-box__middle {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#todo-box__input {
  width: 250px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
#todo-box__button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
}
#todo-box__header {
  display: flex;
  justify-content: center;
}

#list-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.complete-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
}
.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
}

.plan-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
h3 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
